.layout-inner-container .content-layout-container .right-layout-container a {
    width: 33.33%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.layout-inner-container .content-layout-container .right-layout-container a .img-container {
    width: 100%;
    height: auto;
}

.layout-inner-container .content-layout-container .right-layout-container a .img-container img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.text-span {
    font-size: 0.65rem;
}

@media screen and (max-width: 541px) {
    .layout-inner-container .content-layout-container .right-layout-container a .img-container img {
        width: 100%;
        // height: 75px;
        border-radius: 0;
    }
    .menu-icon {
        font-size: 0.7rem;
    }
    .text-span {
        font-size: 0.60rem;
    }
}

.layout-inner-container .content-layout-container .right-layout-container a span {
    font-weight: 600;
}

.pack-info-container {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.menu-icon {
    cursor: pointer;
}

.pack-card {
    // margin: 1px;
}

.sub-menu-option-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    // margin-top: 5px;
}

.card-sub-container {
    width: 96%;
    padding-bottom: 1px;
    border-radius: 1px;
    box-shadow: 1px 1px 3px 1px #c9c9c9;
}

.pack-info {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

.mat-icon {
    width: auto;
    height: auto;
}

.pack-description {
    font-size: 0.55rem;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .layout-inner-container .content-layout-container .right-layout-container a .img-container img {
        height: 110px;
    }
}

.layout-inner-container .content-layout-container .right-layout-container a .img-container img {}

.layout-container {
    margin: 0;
    height: 100%;
}

.layout-inner-container {
    overflow-y: scroll;
}

.layout-inner-container,
.layout-inner-container .tool-bar-row {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.layout-inner-container .tool-bar-row {
    width: 100%;
    position: relative;
}

.layout-inner-container .tool-bar-row .search-row {
    // padding: 2px 2px 2px 2px;
    display: flex;
    align-items: center;
}

.layout-inner-container .tool-bar-row .search-row i {
    padding: 5px 5px 5px 5px;
    font-size: 25px;
    font-weight: 300;
}

.layout-inner-container .tool-bar-row .search-row .search-container {
    display: flex;
    width: 100%;
    position: relative;
}

.layout-inner-container .tool-bar-row .search-row .search-container i {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 2px;
    left: 13px;
}

.layout-inner-container .tool-bar-row .search-row .search-container input {
    border: 0;
    border-radius: 50px;
    width: 100%;
    height: 2rem;
    font-size: 16px;
    font-weight: 500;
    background: none;
}

.layout-inner-container .content-layout-container {
    display: flex;
    height: 80vh;
    border: 2px solid purple;
}

.layout-inner-container .content-layout-container .left-layout-container {
    width: 30%;
    overflow: scroll;
    height: 100%;
    position: relative;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    min-height: 100%;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list a {
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list a span {
    display: block;
    padding: 0 5px;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list .left-layout-nav-item {
    font-weight: 700;
}

.layout-inner-container .content-layout-container .left-layout-container .left-nav-list .left-layout-nav-item span {
    display: block;
    padding: 0 5px;
    border-left: 2px solid #00b9f5;
}

.layout-inner-container .content-layout-container .right-layout-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    overflow: scroll;
    right: -2px;
    width: 70%;
    height: 100%;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .layout-inner-container .content-layout-container {
        height: 80vh;
        border: 2px solid purple;
    }
}

.page-title {
    padding: 0px 0px 0px 0px;
}