<div class="container-fluid">
    <h2 class="page-title">Home</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">My Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu1">Budget</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu2">Organiser</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <app-organiser></app-organiser>
        </div>
        <div id="menu1" class="tab-pane fade">
            <app-budget-planner></app-budget-planner>
        </div>
        <div id="menu2" class="tab-pane fade">
            <app-organiser></app-organiser>
        </div>
    </div>
</div>


<div class="container-fluid">
    <h2>Home</h2>
    <span class="badge rounded-pill bg-primary">Primary</span>
    <span class="badge rounded-pill bg-secondary">Secondary</span>
    <span class="badge rounded-pill bg-success">Success</span>
    <span class="badge rounded-pill bg-danger">Danger</span>
    <span class="badge rounded-pill bg-warning">Warning</span>
    <span class="badge rounded-pill bg-info">Info</span>
    <span class="badge rounded-pill bg-light">Light</span>
    <span class="badge rounded-pill bg-dark">Dark</span>

    <button type="button" class="btn btn-primary">
        Messages <span class="badge bg-danger">4</span>
    </button>

</div>