<div class="container-fluid main-container">

    <h2 class="page-title">Checkout</h2>

    <span class="badge rounded-pill bg-primary">Customise</span>
    <span class="badge rounded-pill bg-secondary">Address</span>
    <span class="badge rounded-pill bg-success">Payment</span>
    <span class="badge rounded-pill bg-danger">Done</span>

    <app-customise-items-table [inputData]="inputData"></app-customise-items-table>

    <button mat-raised-button color="primary" type="button">
        <mat-icon>navigate_before</mat-icon>
        <span class="mx-1 uppercase">Back</span>
      </button>

    <button mat-raised-button color="primary" type="button">
        <mat-icon>navigate_before</mat-icon>
        <span class="mx-1 uppercase">Next</span>
      </button>
</div>