<div class="container mt-3">
    <h2>Organiser</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            Success item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-secondary">
            Secondary item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-info">
            Info item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-warning">
            Warning item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-danger">
            Danger item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-primary">
            Primary item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-dark">
            Dark item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
        <li class="list-group-item list-group-item-light">
            Light item
            <span class="badge bg-primary rounded-pill">50</span>
        </li>
    </ul>
</div>

<div class="container mt-3">
    <h2>Vertical Direction</h2>
    <p>Use .flex-column to display the flex items vertically (on top of each other):</p>
    <div class="d-flex flex-column mb-3">
        <div class="p-2 bg-info">Flex item 1</div>
        <div class="p-2 bg-warning">Flex item 2</div>
        <div class="p-2 bg-primary">Flex item 3</div>
    </div>
</div>