<section class="index-module--homeComponents__transactionnews--iAMrN">
    <div class="index-module--homeComponents__transactionnews__details--q6Yjo">
        <h2 class="tiles-module--title--dw55O">All that’s new</h2>
        <ul class="tiles-module--grid--1wElV">
            <li class="tiles-module--grid__item--3wdLE">
                <a class="tiles-module--itemhead--23H-3" href="/pulse/trends/">
                    <h3 class="tiles-module--itemtitle--3-L5T">Trends</h3>
                </a>
                <div class="tiles-module--itemdetail--1hs3y">
                    <p class="tiles-module--itemcopy--3Stgs"><strong>Growth of Offline Transactions</strong></p>
                    <p class="tiles-module--itemsubcopy--1jG2r">View how offline transactions have trended over time</p>
                    <div class="tiles-module--itemsviewmore--5EDPU"><a href="/pulse/trends/details/offline-transactions/">View More ›</a></div>
                </div>
            </li>
            <li class="tiles-module--grid__item--3wdLE">
                <a class="tiles-module--itemhead--23H-3" href="/pulse/insights/">
                    <h3 class="tiles-module--itemtitle--3-L5T">Insights</h3>
                </a>
                <div class="tiles-module--itemdetail--1hs3y">
                    <p class="tiles-module--itemcopy--3Stgs"><strong>Indians experience the joy of giving</strong></p>
                    <p class="tiles-module--itemsubcopy--1jG2r">Stories of charity, kindness and Donations on PhonePe</p>
                    <div class="tiles-module--itemsviewmore--5EDPU"><a href="/pulse/insights/indians_experience_the_joy_of_giving/">View More ›</a></div>
                </div>
            </li>
        </ul>
    </div>
</section>