<div class="container-fluid">
    <h2 class="page-title">Store</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu1">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu2">Premium</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <app-packs></app-packs>
        </div>
        <div id="menu1" class="tab-pane fade">
            <app-packs></app-packs>
        </div>
        <div id="menu2" class="tab-pane fade">
            <app-packs></app-packs>
        </div>
    </div>
</div>